body{
    background-color: rgb(50, 50, 200);
    font: normal 14pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}